<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace  填写的是dao层所对应的接口全限定类名-->
<mapper namespace="com.aliwo.dao.AdminDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aliwo.entity.Admin">
        <id column="id" property="id" />
        <result column="adminer_no" property="adminerNo" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="realname" property="realname" />
        <result column="job_title" property="jobTitle" />
        <result column="avatar" property="avatar" />
        <result column="description" property="description" />
        <result column="remark" property="remark" />
        <result column="piority" property="piority" />
        <result column="address" property="address"/>
        <result column="teach_subject" property="teachSubject"/>
        <result column="power" property="power" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
