<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace  填写的是dao层所对应的接口全限定类名-->
<mapper namespace="com.aliwo.dao.ClassInfoDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aliwo.entity.ClassInfo">
        <id column="id" property="id"/>
        <result column="class_no" property="classNo"/>
        <result column="class_name" property="className"/>
        <result column="num" property="num"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryClassInfos" resultType="com.aliwo.entity.response.ClassInfoVo">
        SELECT tci.id, tgi.grade_name, tci.class_no, tci.class_name, t.realname, tci.num
            FROM yc_class_info tci join yc_teacher t on tci.teacher_id = t.id
            join yc_grade_info tgi on tci.remark = tgi.grade_no
            where tci.deleted=0 and t.deleted=0
            limit ${page},${limit}
    </select>
    
    <select id="count2" resultType="integer">
      SELECT count(tci.id) FROM yc_class_info tci join yc_teacher t on tci.teacher_id = t.id
      join yc_grade_info tgi on tci.remark = tgi.grade_no
      where  tci.deleted=0 and t.deleted=0
    </select>


    <select id="queryClassInfoByGradeNo" resultType="com.aliwo.entity.response.ClassInfoVo">
        SELECT tci.id,tgi.grade_name,tci.class_no,tci.class_name,t.realname,tci.num
        FROM yc_class_info tci join yc_teacher t on tci.teacher_id = t.id
        join yc_grade_info tgi on tci.remark = tgi.grade_no
        where tgi.grade_no = ${gradeNo} and tci.deleted=0 and t.deleted=0
        limit ${page}, ${limit}
    </select>


    <select id="count1" parameterType="string" resultType="integer">
      SELECT count(tci.id) FROM yc_class_info tci join yc_teacher t on tci.teacher_id = t.id
      join yc_grade_info tgi on tci.remark = tgi.grade_no
      where tgi.grade_no = ${gradeNo}
       and tci.deleted=0 and t.deleted=0
    </select>


</mapper>
