<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace  填写的是dao层所对应的接口全限定类名-->
<mapper namespace="com.aliwo.dao.ClassRoomDao">
    <resultMap id="BaseResultMap" type="com.aliwo.entity.ClassRoom">
        <id property="id" column="id"/>
        <result property="classRoomNo" column="class_room_no"/>
        <result property="classRoomName" column="class_room_name"/>
        <result property="teachbuildNo" column="teachbuild_no"/>
        <result property="capacity" column="capacity"/>
        <result property="remark" column="remark"/>
        <result property="deleted" column="deleted"/>
        <result property="attribute" column="attribute"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>
