<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace  填写的是dao层所对应的接口全限定类名-->
<mapper namespace="com.aliwo.dao.DocDao">
    
    <resultMap id="BaseResultMap" type="com.aliwo.entity.Doc">
        <id property="id" column="id"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="clicks" column="clicks"/>
        <result property="description" column="description"/>
        <result property="docName" column="doc_name"/>
        <result property="docUrl" column="doc_url"/>
        <result property="expire" column="expire"/>
        <result property="fileName" column="file_name"/>
        <result property="fromUserId" column="from_user_id"/>
        <result property="fromUserType" column="fron_user_type"/>
        <result property="toClassNo" column="to_class_no"/>
    </resultMap>

</mapper>
