<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace  填写的是dao层所对应的接口全限定类名-->
<mapper namespace="com.aliwo.dao.TeachBuildInfoDao">
    <resultMap id="BaseResultMap" type="com.aliwo.entity.TeachbuildInfo">
        <id column="id" property="id" />
        <result column="teach_build_no" property="teachBuildNo" />
        <result column="teach_build_name" property="teachBuildName" />
        <result column="teach_build_location" property="teachBuildLocation" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
